.toast-container {
  font-size: 1rem;
  position: fixed;
  z-index: 20;
}
.bottom-right {
  bottom: 12px;
  right: 12px;
  animation: right-to-left .7s;
}

@keyframes right-to-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translate(0%);
  }
}